@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
:root {
  font-family: "Poppins", serif;
  line-height: 1.5;
  font-weight: 500;
  font-style: normal;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #fabe93;
  background-image: linear-gradient(180deg, #ffbc8c 0%, #fc664c 74%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

